@charset "utf-8";
/* CSS Document */

.main-nav
{
	background-color: #282828;

}
.main-nav a
{
	color: #E0E0E0;	
}

.nav > li > a, .nav > li > a:hover
{
	font-weight:600;
}

.nav > li > a:focus, .nav > li > a:hover
{
	
	text-decoration: none;
background-color: rgba(238, 238, 238, 0.1);
}

.logo img
{
	width:50%;	
}

#slider-wraper
{
	color: #fff;
	height: 800px;
	padding: 250px 0px;
	background: transparent url("../img/slider2.jpg") no-repeat scroll center center / cover;
	margin-bottom: 0px;	 
}

#about, .services
{
	padding: 50px 0;

}

#contact
{
	color: #fff;	
}

.bg-grey
{
	background: #373737;
}
footer{
	background: #242424;
	color: #eee;	
	padding: 2%;
}