RewriteEngine on
DirectoryIndex index.php
RewriteBase /webbooster/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^index.php$ doc.php [L]

RewriteRule ^([a-zA-Z-_0-9]+)/?$ index.php?page1=$1 [L]


